<!--左のサイドバーにジャンル検索、部分テンプレート？商品一覧にもあった-->


<!--メインの上に紹介文-->
<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>

<!--メインの下に新着商品の紹介(応用課題でやった順番の並び替えを使う？)-->
<p>商品名</p>
<p>¥0,000</p>
