<!--左のサイドバーにジャンル検索-->


<!--メインの上に紹介文-->
<h1>ようこそ、ながのCAKEへ！</h1>
<h1>このサイトは、ケーキ販売のECサイトになります。</h1>
<h1>会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</h1>

<!--メインの下に新着商品の紹介(応用課題でやった順番の並び替えを使う？)-->
<p>商品名</p>
<p>¥0,000</p>
