<div class="container">
  <div class="row">
    <h2 class=" bg-light px-4">注文履歴一覧</h2>
  </div>
  <div class="row mt-4">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <%#= @orders.each do |oder| %>
          <tr>
            <td>(例)2022/01/17 12:00<%#= link_to order.created_at.strftime('%Y/%m/%d %H:%M'), admin_order_path(order) %></td>
            <td>(例)Pomsky<%#= order.customers.last_name %> <%#= order.customers.first_name %></td>
            <td>(例)3<%#= orders.order_items.quantity %></td>
            <td>(例)入金待ち<%#= orders.order_status %></td>
          </tr>
        <%# end %>
      </tbody>
    </table>
  </div>
</div>