
<h2 style="position:relative; top:10px; left:200px;">注文履歴一覧</h2>

  <table align="center" border="1px solid ">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
    <tr>
      <th>(例)2022/01/17 12:00</th>
      <th>Pomsky</th>
      <th>3</th>
      <th>入金待ち</th>
    </tr>
  </table>
</div>
<div align="center">
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>Next ></td>
  <td>Last >></td>
</div>
<!--<h2 style="position:relative; top:10px; left:200px;">商品一覧</h2>-->
<!--<div align="right">-->
<!--  <button class="btn" style="text-align:right;">商品追加</button>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <table align="center" border="1px solid ">-->
<!--    <tr>-->
<!--      <th>商品ID</th>-->
<!--      <th>商品名</th>-->
<!--      <th>税抜価格</th>-->
<!--      <th>ジャンル</th>-->
<!--      <th>ステータス</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>(例)1</th>-->
<!--      <th>洋梨のチーズタルト</th>-->
<!--      <th>1,200</th>-->
<!--      <th>ケーキ</th>-->
<!--      <th>販売中</th>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->