<%= link_to "ログアウト", destroy_admin_session_path,method: :delete %>
<h2 style="position:relative; top:10px; left:200px;">注文履歴一覧</h2>

  <table align="center" border="1px solid ">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
    <tr>
      <th>(例)2022/01/17 12:00</th>
      <th>(例)Pomsky</th>
      <th>(例)3</th>
      <th>(例)入金待ち</th>
    </tr>
  </table>
</div>

<!-- ページネーション追加後、以下記述は消します -->
<div align="center">
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>Next ></td>
  <td>Last >></td>
</div>