<!--部分テンプレートの呼び出し(サイドバー)-->

<h1>商品一覧</h1>
<p>(全count件)</p>

<!--<"% items.each do |item| %>-->
  
  <!--<#%= attachment_image_tag(item.image_id , :fill, 40, 60 ) %>-->
  <!--<#%= link_to item.name, item_path(item) , class: "item_#{item.id}" %>-->
  <!--<%#= item.price %>-->
  
<!--<#% end %>-->

<!--paginate(kaminari)-->